/* colors for this project from Coolors:
#e0f2e9 Alabaster
#ceb5a7 Dark Vanilla
#a17c6b Burnished Brown
#5b7b7a Wintergreen Dream
#37887e Celadon Green 
#275751 Dark Slate Grey*/


body{
    color: #fff;
    background-color: #37887e;
}
#gameBoard{
    background-image: url("towers.png");
    background-size: cover;
    height: 600px;
    width: auto;
    z-index: -1;
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
#poleOne, #poleTwo, #poleThree{
    height: 500px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; 
}
.stick, .base{
    background-color: #a17c6b;
}
.stick{
    height: 300px;
    width: 20px;
    margin-left: 94px;
    border: solid 1px #275751;
    border-radius: 30% 30% 0 0;
}

.base{
    width: 225px;
    height: 50px;
    border: solid 1px #275751;
}
#one, #two, #three, #four, #five, #six{
    background-color: #e0f2e9;
    border: solid 1px #275751;
    border-radius: 10%/35%;
    z-index: 3;
}
#one{
    width: 75px;
    height: 25px;
    /* margin-left: -600px; */
    /* margin-top: 155px; */
}
#two{
    width: 100px;
    height: 25px;
    /* margin-top: 180px; */

}
#three{
    width: 125px;
    height: 25px;
    /* margin-top: 205px; */
}
#four{
    width: 150px;
    height: 25px;
    /* margin-top: 230px; */
}
#five{
    width: 175px;
    height: 25px;
    /* margin-left: 60px; */
    /* margin-top: 255px;  */
}
#six{
    width: 200px;
    height: 25px;
    /* margin-top: 280px; */
    /* margin-left: 45px; */
}
